@import "tailwindcss";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #e8000c;
  /* pink */
  --color-secondary: #;
  /* blue */
  --color-tertiary: #0cb9c1;
  /* orange */
  --color-quaternary: #f48924;
}
